main {
    height: auto;
}

.container {
    margin: 5% auto;
}

.container > code {
    background-color: #1b2026;
    width: 100%;
    padding: 1rem;
    margin-bottom: 20px;
}

.container > pre {
    white-space: pre-line;
    font-family: "Courier New", Courier, monospace;
}

@media only screen and (max-width: 800px) {
    .container {
        margin: 0px;
    }
}