<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/assets/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/assets/static/reset.css">
    <link rel="stylesheet" href="/assets/static/style.css">
    <title>Publicar novo conteúdo</title>
</head>

<body>
    <header>
        <nav class="navbar">
            <div class="navbar-left">
                <a class="navbar-brand nav-link" href="#">
                    <img src="/assets/img/duck.png" alt="Logo" width="30">
                    <p>FIL</p>
                </a>

                <ul class="navbar-nav">
                    <li><a class="nav-link" href="#">Relevantes</a></li>
                    <li><a class="nav-link" href="#">Recentes</a></li>
                </ul>
            </div>

            <div class="navbar-right">
                <button class="person-button">
                    <svg aria-hidden="true" focusable="false" role="img" class="octicon octicon-person-fill"
                        viewBox="0 0 16 16" width="16" height="16" fill="currentColor"
                        style="display: inline-block; user-select: none; vertical-align: text-bottom; overflow: visible;">
                        <path
                            d="M4.243 4.757a3.757 3.757 0 1 1 5.851 3.119 6.006 6.006 0 0 1 3.9 5.339.75.75 0 0 1-.715.784H2.721a.75.75 0 0 1-.714-.784 6.006 6.006 0 0 1 3.9-5.34 3.753 3.753 0 0 1-1.664-3.118Z">
                        </path>
                    </svg>
                </button>
            </div>
        </nav>
    </header>

    <main>

    </main>

    <footer>
        <div class="footer-box-top">
            <div class="footer-aria-left">
                <h1>Compartilhe seus conhecimento e aprendizados</h1>
                <p>Crie uma postagem, atraia alunos do mundo todo e ganhe notoriedade.</p>
            </div>

            <dir class="footer-aria-right">
                <a href="">
                    <button>Faça uma Postagem</button>
                </a>
            </dir>
        </div>

        <dir class="footer-box-bottom">
            <img width="30" src="/assets/img/duck.png" alt="">
        </dir>
    </footer>
</body>

</html>