{% extends 'global/base.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'global/css/login/login.css' %}" type="text/css">
{% endblock %}

{% block title %} {{ title }} {% endblock %}

{% block content %}

{% if validlink %}
<form class="conteiner" method="post">
	{% csrf_token %}
	<div class="box-right">
		<h1>Alterar	 a senha</h1>

		{% for input in form %}
		{{ input.label_tag }}
		{{ input }}
		{% if input.help_text %}
        	{{ input.help_text|safe }}
        {% endif %}
		{{ input.errors }}
		{% endfor %}

		<div class="btn"><button type="submit">Alterar a senha</button></div>
	</div>
</form>
{% else %}
<p>
	O link de redefinição de senha era inválido, possivelmente porque já foi usado. Solicite uma nova redefinição de
	senha.
</p>
{% endif %}
{% endblock %}