{% extends 'global/base.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'global/css/login/login.css' %}" type="text/css">
{% endblock %}

{% block title %} {{ title }} {% endblock %}

{% block content %}
<form class="conteiner" method="post">
    {% csrf_token %}
    <div class="box-right">
        <h1>{{ title }}</h1>

        {% for input in form %}
        {{ input.label }}
        {{ input }}
        
        {% endfor %}

        <div class="btn"><button type="submit">Salvar</button></div>
    </div>
</form>
{% endblock %}