main {
    background-color: aliceblue;
    width: 100%;
    height: 651px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 24px;
    max-width: 1012px;
    margin-left: auto;
    margin-right: auto;
    color: rgb(0, 0, 0);
}

.heading-style {    
    margin-top: 40px;
    font-size: 32px;
    margin: 0px 0px 16px;
}

.post-panel {
    width: 100%;
    height: 100%;
}
.text-input-wrapper {
    padding: 10px 0px;
    margin-bottom: 18px;
    border: solid #24292f 1px;
    border-radius: 6px;
}

.name-heading-input {
    background-color: aliceblue;
    width: 100%;
    padding: 0px 12px;
    font-size: 14px;
    outline: none;
}

.box-form-post {
    border: solid #24292f 1px;
    border-radius: 6px;
}

.box-button-top {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    height: 30px;
    gap: 10px;
    padding: 0px 12px;
}

.button-transaction {
    font-size: 1rem;
    background-color: transparent;
    cursor: pointer;
}

.button-transaction:hover {
    opacity: 0.5;
    text-decoration: underline;
}

.post-form {
    border-top: solid #24292f 1px;
    border-bottom: solid #24292f 1px;
    background-color: aliceblue;
    width: 100%;
    height: 335px;
    outline: none;
    padding: 20px;
    resize: none;
}

.post-form::-webkit-scrollbar {
    background-color: transparent;
    width: 8px;
}

.post-form::-webkit-scrollbar-track {
    background: transparent;
}

.post-form::-webkit-scrollbar-thumb {
    background: rgb(208, 223, 236);
    border-radius: 4px;
}

#html {
    display: none;
    overflow-y: scroll;
    width: 100%;
}

#html > p >  img {
    max-width: 100%;
    height: auto;
}

.box-button-bottom {
    display: flex;
    width: 100%;
    height: 40px;
    justify-content: space-between;
    align-items: center;
    padding: 0px 12px;
}

.button-bottom-left {
    display: flex;
    align-items: center;
    gap: 10px;
}

.select-subjects-bottom {
    background-color: aliceblue;
    appearance: none;
    outline: none;
    width: 100px;
    max-width: 100px;
    text-align: start;
}

.button-bottom-right {
    display: flex;
    align-items: center;
    gap: 10px;
}

.button-submit {
    background-color: #A8EB12;
    border-radius: 6px;
    padding: 6px;
}


@media only screen and (max-width: 480px) {
    .heading-style {
        font-size: 22px;
    }
}
