.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px;
    max-width: 1012px;
    margin-left: auto;
    margin-right: auto;
    color: rgb(0, 0, 0);
}

.description {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.about-post {
    display: grid;
    width: 85%;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
}

.title-date {
    display: flex;
    width: 100%;
    gap: 10px;
}

.title-post {
    font-size: 2.3rem;
    margin: 7px 0px;
}

.tags-post {
    display: flex;
    gap: 10px;
}

.post-desc-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 15%;
}

.post-form {
    background-color: aliceblue;
    width: 100%;
    outline: none;
    resize: none;
    padding: 16px 4px;
    max-width: 100%;
    margin: 0 auto;
}

.post-form h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.post-form p {
    margin-bottom: 10px;
}

.post-form a {
    color: #2f81f7;
    text-decoration: none;
}

.post-form a:hover {
    text-decoration: underline;
}

.post-form ul,ol,dl {
    font-family: inherit;
    font-size: 1rem;
    line-height: 1.6;
    list-style-position: outside;
    margin-bottom: 1.25rem;
    margin-left: 1.1rem;
}

.post-form ul {
    list-style-type: disc;
}

.post-form ol {
    list-style-type: decimal;
}

.post-form img, iframe {
    max-width: 100%;
    max-height: 80vh;
    margin-bottom: 10px;
}

.post-form pre {
    background-color: #f8f8f8;
    padding: 10px;
    overflow: auto;
    margin-bottom: 10px;
}

.post-form code {
    font-family: Consolas, Monaco, "Courier New", Courier, monospace;
    font-size: 14px;
    color: #333;
    white-space: pre-line;
}

.post-form::-webkit-scrollbar {
    background-color: transparent;
    width: 8px;
}

.post-form::-webkit-scrollbar-track {
    background: transparent;
}

.post-form::-webkit-scrollbar-thumb {
    background: rgb(208, 223, 236);
    border-radius: 4px;
}