{% extends 'global/base.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'global/css/login/login.css' %}" type="text/css">
{% endblock %}

{% block title %} {{ title }} {% endblock %}

{% block content %}
<form class="conteiner" method="post">
    {% csrf_token %}
    <div class="box-right">
        <h1>Editar Perfil</h1>

        <label>Nome do Usuário:</label>

        {{ form.username }}

        {% if form.errors %}
        <div class="alert alert-danger" role="alert">
            {{ form.errors.username }}
        </div>
        {% endif %}

        <label>E-mail:</label>

        {{ form.email }}

        {% if form.errors %}
        <div class="alert alert-danger" role="alert">
            {{ form.errors.email }}
        </div>
        {% endif %}

        <label for="password">Senha:</label>
        <a href="{% url 'password_reset' %}">Utilize o fluxo de recuperação de senha →</a>

        <div class="btn"><button type="submit">Salvar</button></div>
    </div>
</form>
{% endblock %}