{% extends 'global/base.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'global/css/profile/profile.css' %}"> {% endblock %}

{% block title %} DevDuck - {{ user }}{% endblock %}

{% block content %}

<div class="container">
    <h1>{{ user.username|upper }}</h1>
    <div class="name-profile">
        {% for post in data_user %}
        <p><b>Title:</b> {{ post.title }}</p>
        <p><b>Content:</b> {{ post.content }}</p>
        <p><b>Langue:</b> {{ post.id_prog_language }}</p>
        <p><b>Created:</b> {{ post.created_at }}</p>
        <br>
        {% endfor %}
    </div>

    {% include 'global/partials/_pagination.html' %}
</div>

{% endblock %}