{% extends 'global/base.html' %}
{% load static %}
{% block title %} Nova Postagem - DevDuck {% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'global/css/post/post.css' %}"> {% endblock %}

{% block content %}

<div class="container">
    <h1 class="heading-style">Publicar novo conteúdo</h1>

    <div class="post-panel">
        <form method="post">
            {% csrf_token %}

            <div class="text-input-wrapper">
                {{ form.title }}
            </div>

            <div class="box-form-post">
                <div class="box-button-top">
                    <div class="button-transaction" id="edit">Editar</div>
                    <div class="button-transaction" id="show">Visualizar</div>
                </div>

                {{ form.content }}

                <div class="post-form" id="html"></div>

                <div class="box-button-bottom">
                    <div class="button-bottom-left">
                        <select class="button-transaction select-subjects-bottom" name="" id="module">
                            <option value="0" selected disabled>Módulos</option>
                            {% for module in modules %}
                            <option value="{{ module.id }}">{{ module }}</option>
                            {% endfor %}
                        </select>

                        {{ form.id_grid }}

                        {{ form.id_prog_language }}
                    </div>

                    <div class="button-bottom-right">
                        {% if id_post%}
                        <a class="button-transaction button-delete" href="{% url 'delete_post' id_post %}">Deletar</a>
                        {% else %}
                        <input class="button-transaction button-reset" type="reset" value="Limpar">
                        {% endif %}
                        <input class="button-transaction button-submit" type="submit" value="Postar">
                    </div>
                </div>
                {% if form.errors %}
                
                <ul class="errorlist">
                    {% for field in form %}
                    {% if field.errors %}
                    <li>{{ field.label }}: {{ field.errors }}</li>
                    {% endif %}
                    {% endfor %}
                </ul>
                {% endif %}
        </form>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/1.4.0/showdown.min.js"></script>
<script src="{% static 'global/javascript/showdown.js' %}"></script>
<script src="{% static 'global/javascript/select_subject.js' %}"></script>
{% endblock %}