{% extends 'global/base.html' %}
{% load static %}
{% block title %} {{ object.title }} {% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'global/css/post/see_post.css' %}" type="text/css"> {% endblock %}

{% block content %}

<div class="container">
    <article class="description">
        <section class="about-post">
            <div class="author-date">
                <a href="{% url 'profile' object.id_user.username %}" class="author-post">
                    {{object.id_user.username|upper }}
                </a>
                <div class="date-post"> {{ object.created_at|timesince }}</div>
            </div>

            <div class="title-post">
                <h1> {{ object.title }}</h1>
            </div>

            <div class="tags-post">
                <div class="subjects">
                    <a href="{% url 'tag-subjects' object.id_grid.id %}" class="link-tag"> {{ object.id_grid.id_subject }}</a>
                </div>
                <span>-</span>
                <div class="languagem-prog-post">
                    {% for lang in language %}
                    {% if post.id_prog_language.id == lang.id %}
                    <div class="languagem-prog-post">
                        <a href="{% url 'tag-language' lang.id %}" class="link-tag">{{ post.id_prog_language }}</a>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </section>

        <section class="post-desc-right">
            {% if user == object.id_user %}
            <div class="button-bottom-right">
                <a class="button-transaction button-delete" href="{% url 'delete_post' object.id %}">
                    <img src="{% static 'global/img/delete.svg' %}" alt="Imagem de deletar">
                    <button>Deletar</button>
                </a>
                <a class="button-transaction button-edit" href="{% url 'edit_post' object.id %}">
                    <img src="{% static 'global/img/edit.svg' %}" alt="Imagem de editar">
                    <button>Editar</button>
                </a>
            </div>
            {% endif %}
            <div class="like-egg">
                <a href="{% url 'like_post' object.id %}" id="egg-image">
                    <img src="{% static 'global/img/egg.svg' %}" id="egg-effect" alt="Imagem de like">
                </a>
                <span class="like">{{ like }}</span>
                <audio id="egg-crack-sound">
                    <source src="{% static 'global/sound/duck.mp3' %}" type="audio/mpeg">
                </audio>
            </div>
        </section>
    </article>

    <textarea name="content" id="markdown" cols="30" rows="10" style="display: none;">{{ object.content }}</textarea>
    <div class="post-form" id="html"></div>
</div>

{% endblock %}

{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/1.4.0/showdown.min.js"></script>
<script src="{% static 'global/javascript/see_post.js' %}"></script>
<script src="{% static 'global/javascript/sound_effect.js' %}"></script>
<script src="{% static 'global/javascript/egg.js' %}"></script>
{% endblock %}