{% extends 'global/base.html' %}
{% load static %}
{% block title %} {{ object.title }} {% endblock %}

{% block style %}{% endblock %}


{% block content %}

{% if user == object.id_user %}
<div class="button-bottom-right">
    <a class="button-transaction button-delete" href="{% url 'delete_post' object.id %}"><button>Deletar</button></a>
    <a class="button-transaction button-edit" href="{% url 'edit_post' object.id %}"><button>Editar</button></a>
</div>
{% endif %}

{{ object.title }} <br>
{{ object.id_user.username }} <br>
{{ object.id_prog_language }} <br>
{{ object.id_grid }} <br>
{{ object.content }} <br>
{{ object.created_at|date }}

{% endblock %}