@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');

* {
	margin: 0;
	padding: 0;
	border: 0;
	text-decoration: none;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
}



main{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.conteiner{
    background-color: #f5f1f1 ;
    display: flex;
    justify-content: center;
    width: 68%;
    height: 93%;
    box-shadow: 5px 5px 2px 5px rgb(31, 23, 23);
    border-radius: 20px;
}

.box-right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    height: 100%;
    

}


.box-right > h1{
    text-decoration:wavy;
    display: flex;
    justify-content: center ;
    margin-top: 20px;
    font-size: 35px;

}

.box-right > h4{

    margin-top: 15px;
    margin-bottom: 10px;
}

.box-right > input{

    justify-content: flex-start;
    padding-left: 5px;
    width:53vw;
    padding: 10px;
    border:1px solid black;
    border-radius: 5px;
    font-size: large;
    font-style:italic;
    color: rgb(97, 97, 95);
    background-color: transparent;
    
}
#input2{
    margin-bottom: 15px;
}
.btn{
    display: flex;
    justify-content: center;
    height: 10%;    
    margin-bottom: 20px;
}
.btn > button{
    display: flex;
    justify-content:center;
    align-items: center;
    background-color: antiquewhite;
    border:1px solid black;
    color: black;
    margin-top: 5px;
    width: 100px;
    height:50px;
    font-size: larger;
    cursor: pointer;
    border-radius: 10px;
    font-size: 100%;
    margin-bottom: 10px;
}

.btn > button:hover{
    background-color: rgb(172, 133, 83);
}

.box-left{
    display: flex;
    flex-direction: column;
    justify-content:left;
    margin-right: 200px;
}



.box-left > h1{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
@media only screen and (max-width:896px){
    main{
        height: fit-content ;
        padding: 50px 0px;
    }
    
    .box-right > input{
        height: 8vh;
    }
    .conteiner{
        height:fit-content;
    }
}



@media only screen and (max-width:450px) {
    main{
        height: fit-content;
        padding: 50px 0px;
    }

    .conteiner{
        width: 80%;
        height: 50%;
    }

    .box-right > input{
        width: 100%;
        height: 8vh;
    }
}