@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');


* {
	margin: 0;
	padding: 0;
	border: 0;
	text-decoration: none;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
}


main{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.conteiner{
    background-color:#1d92f821 ;
    display: flex;

    justify-content: center;
    width: 40%;
    height: 80%;
    border-radius: 20px;
    margin-right: 70px;
}

.box-right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    

}


.box-right > h1{
    text-decoration:wavy;
    display: flex;
    justify-content: center ;
    margin-top: 30px;
    font-size: 40px;

}

.box-right > label{

    margin-top: 5px;
    margin-bottom:5px;
}

.box-right > input{

    justify-content: flex-start;
    padding-left: 5px;
    width:33vw;
    height: 3rem;
    border:1px solid black;
    border-radius: 10px;
    font-variant-position:sub;
    font-size: large;
    font-style:italic;
    color: rgb(187, 187, 187);
    background-color: transparent;
    margin-bottom: 5px;
}
#input2{
    margin-bottom: 20px;
}

.box-right > a{
    display: flex;
    justify-content:space-around;
    align-items: center;
    margin-bottom: 10px;
    color:rgb(20, 23, 220);
}

.btn{
  width: 100%;
  height: 15vh;
  display: flex;
  justify-content:center ;
  align-items: center;
}

.btn > button{
    
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    background-color: rgb(74, 74, 75);
    border:1px solid rgba(0, 0, 0, 0.479);
    color: black;
    width: 15vw;
    height:2.5rem;
    color: white;
    cursor: pointer;
    border-radius: 10px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.btn > button:hover{
  background-color: rgba(45, 45, 46, 0.904);
}

.box-left{
    display: flex;
    flex-direction: column;
    justify-content:left;
    margin-right: 200px;
}

.input-cadastro{
  padding: 10px;
  margin-bottom: 0;
}

.Cadastro{
  height: 90vh;
}



.box-left > h1{
  font-size: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
@media only screen and (max-width:912px){
    .box-left{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;

        width: 20rem;
        margin: 4px;
        margin-bottom: 2%;
        font-size: 15px;
    
    }
   
    
    main{
        display: flex;
        justify-content: center;
        align-items: center;
        height: fit-content;
        padding: 150px 0;
        flex-wrap: wrap;
    }
   
    .conteiner{
        display: flex;
        justify-content: center;
        width: 25rem;
        height: 25rem;
        margin-left: 40px;
        margin-bottom: 2%;
    }
    .cadas{
      margin-top: 10%;
      height: 75vh;
     }
     .Cadastro{
      height: fit-content;
     }

    .box-left > h1 {
      font-size: 20px;
    }
}
    
@media only screen and (max-width:750px){
  main > .box-left{
    display: none;
  }
  main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    padding: 50px 0;
  }

  .conteiner{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 30px;  
    width: 25rem;
    height: 34rem;
    
  }
  .cadas{
    height: 73vh;
  }
  .box-right.Cadastro{
    margin-top: 10%;
  }
  .box-right{
    display: flex;
  }
  .box-right > h1{
    margin-top: -30px;
  }

  .box-right > input{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;

  }
  .btn > button{
    margin-left: 30px;
    width: 8rem;
    height: 3rem;

  };

    
}

