{% extends 'global/base.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'global/css/login/login.css' %}" type="text/css">
{% endblock %}

{% block title %} {{ title }} {% endblock %}

{% block content %}
<div class="box-left">
    <h1>Seja bem-vindo de volta</h1>

    <img src="{% static 'global/css/login/img/online-wishes-animate.svg' %}" alt="imagem">

</div>
<form class="conteiner" method="post">
    {% csrf_token %}
    <div class="box-right">
        <h1>Login</h1>

        <label>Usuário:</label>
        <input type="text" name="username" placeholder="Ex: duckmaster" id="id_username" autocapitalize="none"
            maxlength="40" required />

        <label>Senha:</label>
        <input id="input2" type="password" name="password" placeholder="Ex: duckmaster@gmail.com" required
            id="id_password" required />

        {% if form.errors %}
        <div class="alert alert-danger" role="alert">
            {{ form.non_field_errors }}
        </div>
        {% endif %}

        <div class="btn"> <button type="submit">Login</button></div>

        <a href="{% url 'password_reset' %}">Esqueceu a senha?</a>
        <a href="{% url 'register' %}">Cadastre-se</a>
    </div>
</form>
{% endblock %}