{% extends 'global/base.html' %}
{% load static %}
{% block title %} Nova Postagem - DevDuck {% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'global/css/new_post/new_post.css' %}"> {% endblock %}

{% block content %}
<div class="container">
    <h1 class="heading-style">Publicar novo conteúdo</h1>

    <div class="post-panel">
        <form method="post">
            {% csrf_token %}

            <div class="text-input-wrapper">
                <input type="text" name="title" id="title" class="name-heading-input" placeholder="Título">
            </div>

            <div class="box-form-post">
                <div class="box-button-top">
                    <div class="button-transaction" id="edit">Editar</div>
                    <div class="button-transaction" id="show">Visualizar</div>
                </div>

                <textarea name="content" id="markdown" cols="40" rows="25" class="post-form"
                    placeholder="Escreva o conteúdo do seu post aqui..."></textarea>

                <div class="post-form" id="html"></div>

                <div class="box-button-bottom">
                    <div class="button-bottom-left">
                        <select class="button-transaction select-subjects-bottom" name="" id="module">
                            <option value="0" selected disabled>Módulos</option>
                            {% for module in modules %}
                            <option value="{{ module.id }}">{{ module }}</option>
                            {% endfor %}
                        </select>

                        <select class="button-transaction select-subjects-bottom" name="id_grid" id="subjects"
                            style="display: none;">
                            <option value="0" selected disabled>Matérias</option>
                            {% for grid_subject in grid %}
                            <option value="{{ grid_subject.id }}" id="{{ grid_subject.id_module.id }}">{{grid_subject.id_subject }}</option>
                            {% endfor %}
                        </select>

                        <select class="button-transaction select-subjects-bottom" name="id_prog_language"
                            id="subjects-language" style="display: none;">
                            <option value="0" selected disabled>Linguagens</option>
                            {% for lang in language %}
                            <option value="{{ lang.id }}">{{ lang }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="button-bottom-right">
                        <input class="button-transaction button-reset" type="reset" value="Limpar">
                        <input class="button-transaction button-submit" type="submit" value="Postar">
                    </div>
                </div>
        </form>
    </div>
</div>
</div>
{% endblock %}

{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/1.4.0/showdown.min.js"></script>
<script src="{% static 'global/javascript/showdown.js' %}"></script>
<script src="{% static 'global/javascript/select_subject.js' %}"></script>
{% endblock %}