{% load static%}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'img/favicon_io/favicon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% block style %} {% endblock %}
    <title>{% block title %} {% endblock %}</title>
</head>

<body>
    <header>
        <nav class="navbar">
            <div class="navbar-left">
                <!--
                <a class="navbar-brand nav-link" href="{% url 'home' %}">
                    <img src="{% static 'img/favicon_io/android-chrome-192x192.png' %}" alt="Logo" width="30">
                </a>
                -->

                <ul class="navbar-nav">
                    <li><a class="nav-link" href="{% url 'home' %}">Relevantes</a></li>
                    <li><a class="nav-link" href="{% url 'home' %}">Recentes</a></li>
                </ul>
            </div>

            <div class="navbar-center title-nav">
                <p>DEV.DUCK</p>
            </div>

            <div class="navbar-right">
                <button class="person-button">
                    <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" role="img"
                        class="mdi-duck" viewBox="0 0 24 24" width="16" height="16">
                        <path
                            d="M8.5,5A1.5,1.5 0 0,0 7,6.5A1.5,1.5 0 0,0 8.5,8A1.5,1.5 0 0,0 10,6.5A1.5,1.5 0 0,0 8.5,5M10,2A5,5 0 0,1 15,7C15,8.7 14.15,10.2 12.86,11.1C14.44,11.25 16.22,11.61 18,12.5C21,14 22,12 22,12C22,12 21,21 15,21H9C9,21 4,21 4,16C4,13 7,12 6,10C2,10 2,6.5 2,6.5C3,7 4.24,7 5,6.65C5.19,4.05 7.36,2 10,2Z" />
                    </svg>
                </button>
            </div>

            <div class="navbar-bottom">
                <form action="/subjects" method="get" class="module-box-form">
                    <div class="form-control">
                        <select name="materia" id="select-subjects">
                            <option value="0" selected disabled>Módulo I</option>
                            <option value="1">Algoritmo e Programação</option>
                        </select>
                    </div>
                    <div class="form-control">
                        <select name="materia" id="select-subjects">
                            <option value="0" selected disabled>Módulo II</option>
                            <option value="1">Programação para Internet I</option>
                        </select>
                    </div>
                    <div class="form-control">
                        <select name="materia" id="select-subjects">
                            <option value="0" selected disabled>Módulo III</option>
                            <option value="1">Algoritmo e Programação</option>
                        </select>
                    </div>
                    <div class="form-control">
                        <select name="materia" id="select-subjects">
                            <option value="0" selected disabled>Módulo IV</option>
                            <option value="1">Análise e Projeto de Sistemas</option>
                        </select>
                    </div>
                    <div class="form-control">
                        <select name="materia" id="select-subjects">
                            <option value="0" selected disabled>Módulo V</option>
                            <option value="1">Programação para Dispositivos Móveis</option>
                        </select>
                    </div>
                    <div class="form-control">
                        <select name="materia" id="select-subjects">
                            <option value="0" selected disabled>Módulo VI</option>
                            <option value="1">Segurança da Informação</option>
                        </select>
                    </div>
                </form>
            </div>
        </nav>
    </header>

    <main>
        {% block content %} {% endblock %}
    </main>

    <footer>
        <div class="footer-box-top">
            <div class="footer-area-left">
                <h1>Compartilhe seus conhecimento e aprendizados</h1>
                <p>Crie uma postagem, atraia alunos de todo o instituto e ganhe notoriedade.</p>
            </div>

            <div class="footer-area-right">
                <a href="{% url 'new_post' %}">
                    <button>Faça uma Postagem</button>
                </a>
            </div>
        </div>

        <span class="separator"></span>

        <div class="footer-box-bottom">
            <div class="logo-footer logo-copyright">
                <img width="60" src="{% static 'img/favicon_io/android-chrome-192x192.png' %}" alt="duck">
            </div>

            <div class="link-cont">
                <a href="{% url 'contact' %}" class="nav-link">Contato</a>
                <a href="https://github.com/RochaGabriell/ProjetoIntegradorI" target="_blank"
                    class="nav-link">GitHub</a>
                <a href="{% url 'editor-guide' %}" class="nav-link">Guia</a>
                <a href="{% url 'about' %}" class="nav-link">Sobre</a>
                <a href="{% url 'terms' %}" class="nav-link">Termos</a>
            </div>

            <div class="copyright-text logo-copyright">
                <p>&copy; 2023 Dev.Duck, Inc.</p>
            </div>
        </div>
    </footer>

    <script src="{% static 'js/search.js' %}"></script>
    {% block scripts %} {% endblock %}
</body>

</html>