@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    font-family: 'Open Sans', sans-serif;
}

body * {
    box-sizing: border-box;
}

main {
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to right top, #ff9671, #ffac69, #ffc465, #ffde66, #f9f871);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left_login {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

img {
    width: 25vw;
    animation: float 2s ease-in-out infinite;
}

@keyframes float {
    0%, 100%{
        transform: translatex(0);
    }
    50%{
        transform: translatex(-5%);
    }
}

.left_login > h1 {
    padding-left: 10px;
    font-size: 250%;
    font-weight: 800;
    color: #ac7a0e;
}

.right_login {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background-image: linear-gradient(to right,#ffde66, #f9f871);
    border-radius: 20px;
    box-shadow: 0px 10px 40px #ff9671;
}

form > h1 {
    font-size: 400%;
    font-weight: 800;
    color: #ac7a0e;
}

.loginfield {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 10px;
}

.loginfield > label {
    color: #051937;
    margin-bottom: 10px;
}

.loginfield > input {
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: #fdfd8c;
    color: #ac7a0e;
    font-size: 12px;
    box-shadow: 0px 10px 20px #ff9671;
    outline: none;
    box-sizing: border-box;

}

.loginfield input::placeholder {
    color: #000000;
}

.right_login form > button {
    width: 90%;
    padding: 15px 0px;
    border-radius: 10px;
    margin: 25px;
    border: none;
    background: #ffac69;
    outline: none;
    font-weight: 800;
    letter-spacing: 4px;
    cursor: pointer;
    box-shadow: 0px 10px 20px #ff9671;

}

@media only screen and (max-width: 980px) {
    form {
        width: 85%;
    }
}

@media only screen and (max-width: 600px) {
    main {
        flex-direction: column;
    }

    .left_login {
        width: 100%;
        height: auto;
    }

    .left_login > h1 {
        display: none;
    }

    img {
        width: 35vw;
    }

    .right_login {
        width: 100%;
        height: auto;
    }

    form > h1 {
        font-size: 300%;
    }
}
