{% extends 'base.html' %}
{% load static %}
{% block title %} Nova Postagem {% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/new_post/new_post.css' %}"> {% endblock %}

{% block content %}
<div class="container">
    <h1 class="heading-style">Publicar novo conteúdo</h1>

    <div class="post-panel">
        <div class="text-input-wrapper">
            <input type="text" name="" id="title" class="name-heading-input" placeholder="Título">
        </div>

        <div class="box-form-post">
            <div class="box-button-top">
                <button class="button-transaction" onclick="escrever()">Editar</button>
                <button class="button-transaction" onclick="visualizar()">Visualizar</button>
            </div>

            <form action="" method="post" style="display: flex; flex-direction: column;">
                <textarea name="" id="markdown" cols="40" rows="25" class="post-form"
                    placeholder="Escreva o conteúdo do seu post aqui..."></textarea>

                <div class="post-form" id="html"></div>

                <div class="box-button-bottom">
                    <div class="button-bottom-left">
                        <select class="button-transaction select-subjects-bottom" name="" id="only-subjects">
                            <option value="0" selected disabled>Matéria</option>
                            <option value="poo">Programação Orientada a Objetos</option>
                            <option value="estatistica">Estatística</option>
                        </select>

                        <select class="button-transaction select-subjects-bottom" name="" id="subjects-language"
                            style="display: none;">
                            <option value="0" selected disabled>Linguagem</option>
                            <option value="java">Java</option>
                            <option value="pyton">Python</option>
                        </select>
                    </div>

                    <div class="button-bottom-right">
                        <input class="button-transaction button-reset" type="reset" value="Limpar">
                        <input class="button-transaction button-submit" type="submit" value="Postar">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/1.4.0/showdown.min.js"></script>
<script src="{% static 'js/showdown.js' %}"></script>
<script src="{% static 'js/select_subject.js' %}"></script>
{% endblock %}